
A6_1/A6_1.xcodeproj/project.xcworkspace/xcuserdata/kejunliu.xcuserdatad/UserInterfaceState.xcuserstate

A6_2/A6_2.xcodeproj/project.xcworkspace/xcuserdata/kejunliu.xcuserdatad/UserInterfaceState.xcuserstate

A6_1/A6_1.xcodeproj/project.xcworkspace/xcuserdata/kejunliu.xcuserdatad/UserInterfaceState.xcuserstate

A6_2/Build/.sconsign.dblite

A6_2/Main/RelOps/source/SortMergeJoin.o

A6_2/Build/bin/supplierRight.bin

*.bin

A6_2/Build/bin/aggOut.bin

A6_2/Build/bin/aggOutOut.bin

A6_2/Build/bin/supplierOut.bin

A6_2/Build/bin/supplierRight.bin

A6_2/Build/bin/rightSorted.bin

A6_2/Build/bin/supplierOut.bin

*.bin

A6_2/Build/bin/supplierOut.bin

A6_2/Build/bin/supplierRight.bin

A6_2/Build/bin/supplierOut.bin

A7_data/customer.tbl

A7_data/lineitem.tbl

A7_data/nation.tbl

A7_data/orders.tbl

A7_data/part.tbl

A7_data/partsupp.tbl

A7_data/region.tbl

A7_data/supplier.tbl

*.tbl

A7_1/Build/bin/catFile

A7_1.zip

*.o

A7_1/A7_1.xcodeproj/project.pbxproj

A7_1/Build/bin/tempFile
